
@viewport {
	width: device-width;
}


html, body{
    height: 100%;
    margin: 0px;
    padding: 0px
}

#map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

	#leyenda{
	height:100%;
	margin-right: 200px;
	margin-top: 0px;
    padding-left: 20px;
	float:left;
}

#titulo {
	height: 50px;
	margin-left: 200px;
    padding: 0px;
	position:left;
	}

#logo{
  	position: absolute;
  	
  	float: left;
  	top: 0px;
  	
}

#estacionamientos{
	position: absolute;
	bottom: 4%;
	right: 0px;
  	float: right;
}